html, body {
    font-family: 'Source Code Pro', 'Courier', monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
  background: #000;
}
